* {
    padding: 0;
    margin: 0;
}
body {
    background: #000000;
}
.apex {
    background: #000000;
}
.apex-start {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    background: url(./img/apex-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40rem;
}
.bar {
    background:linear-gradient(#333333,#000000);
    min-height: 70%;
    max-height: 100%;
    height: 700px;
    width: 31%;
    opacity: 0.9;
    position: relative;
}
.bar-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bar-left a {
    display: flex;
    justify-content: center;
    width: 100%;
}
.bar-left img {
    width: 80%;
    opacity: 0.7;
}
.bar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.bar-middle a {
    width: 100%;
}
.bar-middle img {
    opacity: 1;
    width: 100%;
}
.bar-right {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
} 
.black {
    width: 3.6%;
    background: #000000;
}
.bar-bottom-right {
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    animation: banner1 8s linear;
}
.bar-bottom-middle {
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    animation: banner2 8s linear;
}
.bar-bottom-left {
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    animation: banner3 8s linear;
}
@keyframes banner1 {
    0% {
        background: #000000;
        height: 100%;
    }
    12.5% {
        height: 0;
    }
    50% {
        height: 0;
    }
    62.5% {
        height: 0px;
    }
    71% {
        height: 0;
    }
    83.5% {
        background: #000000;
        height: 100%;
    }
    90% {
        background: #000000;
        height: 100%;
    }
}
@keyframes banner2 {
    0% {
        background: #000000;
        height: 100%;
    }
    10.5% {
        background: #000000;
        height: 100%;
    }
    23% {
        height: 0;
    }
    50% {
        height: 0;
    }
    60.5% {
        height: 0;
    }
    73% {
        background: #000000;
        height: 100%;
    }
    90% {
        background: #000000;
        height: 100%;
    }
}
@keyframes banner3 {
    0% {
        background: #000000;
        height: 100%;
    }
    21% {
        background: #000000;
        height: 100%;
    }
    33.5% {
        height: 0;
    }
    50% {
        height: 0;
    }
    62.5% {
        background: #000000;
        height: 100%;
    }
    90% {
        background: #000000;
        height: 100%;
    }
}
footer {
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
footer p {
    color: white;
    letter-spacing: 2px;
    font-family: 'Sawarabi Gothic', sans-serif;
}
@media screen and (max-width: 1024px) {
    body {
        background: #333333;
    }
}

@media screen and (max-width: 900px) {
    body {
        background: #333333;
    }
    .apex-start {
        margin: 0;
        background-size: contain;
    }
    footer {
        padding: 10% 5%;
    }
    .bar-left img {
        width: 80%;
        opacity: 0.7;
    }
}

@media screen and (max-width: 500px) {
    body {
        background: #333333;
    }
    .apex-start {
        margin: 0;
        background-size: contain;
        height: 490px;
    }
    .bar-left img {
        width: 80%;
        opacity: 0.7;
    }
    footer {
        padding: 10% 5%;
    }
}
@media screen and (max-width: 350px) {
    body {
        background: #333333;
    }
    .apex-start {
        margin: 0;
        background-size: contain;
        height: 450px;
    }
    .bar-left img {
        width: 80%;
        opacity: 0.7;
    }
    footer {
        padding: 10% 5%;
    }
}